.card {
  height: 40%;
  width: 40%;
  border: solid;
  margin: 2rem;
}

.card-img {
  width: 100%;
}

<<<<<<< HEAD
.row {
||||||| merged common ancestors
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
=======
body {
  display: flexbox;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
>>>>>>> master
  display: flex;
}