.logo {
  font-family: "Playfair Display", serif;
}

/*------------- Article Cards ------------- */

.article-card.card {
  border: none;
  margin-top: 24px;
  margin-bottom: 24px;
}

.card-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-title {
  font-family: 'Merriweather', serif;
  color: #000000;
  font-size: 18px;
  width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  margin-top: 4px;
  color: #000000;
  display: -webkit-box;
  width: 220px;
  overflow: hidden;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  margin-bottom: 8px;
}

.card-subtitle {
  font-family: 'Montserrat', serif;
  color: #636363;
  font-size: 12px;
  margin-top: 4px;
}

.date.card-subtitle {
  font-family: 'Montserrat', serif;
  color: #636363;
  font-size: 12px;
  margin-top: 4px;
}

.row {
  display: flex;
}

#article-link {
  color: whitesmoke;
}

/*------------- Search ------------- */

.global-search {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

#search {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.form-control {
  max-width: 700px;
  width: 100%;
  margin-left: 16px;
  margin-right: 16px;
}

.navbar.navbar-expand {
  justify-content: center;
}

.navbar-expand .navbar-collapse {
  justify-content: center;
}

/*------------- Button ------------- */

.btn-secondary:not(:disabled):not(.disabled):active {
  border-color: #000000 !important;
  background-color: #000000 !important;
}

.nav-btn.btn.btn-secondary:focus {
  background-color: #000000;
  border-radius: 50px;
  padding: 8px 16px;
  margin-left: 8px;
  margin-right: 8px;
  border: none;
  box-shadow: none;
}

.btn.btn-secondary:target {
  background-color: #000000;
  border: none;
  border-radius: 50px;
  padding: 8px 16px;
  margin-left: 8px;
  margin-right: 8px;
}

.btn.btn-secondary {
  color: #000000;
  background-color: #ffffff;
  border: none;
  border-radius: 50px;
  padding: 8px 16px;
  margin-left: 8px;
  margin-right: 8px;
}

.btn.btn-secondary:hover {
  color: #ffffff;
  background-color: #000000;
  border: none;
  border-radius: 50px;
  padding: 8px 16px;
  margin-left: 8px;
  margin-right: 8px;
}
